.map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;

  & .player {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    & > div {
      border: 1px dashed black;
      padding: 8px 16px;
      width: 33vw;
      text-align: center;
    }
  }
}
